<div class="row no-margin-top">
  <div class="small-12 column">
    <ul class="breadcrumbs">
      <li>
      <% if @custom_poll_group  || @poll.op? %>
        <%= link_to t("poll_ops.index.section_header.title"), polls_path(:params=> {:op => true})  %>
      <% else %>
        <%= link_to t("polls.index.section_header.title"), polls_path()  %>
      <% end %>
      </li>            
      <li><%= @poll.name %></li>
    </ul>
  </div>
</div>

<div class="expanded section-header margin-bottom">
  <div class="row">
    <div class="small-12 column">
      <h1><%= @poll.name %></h1>
    </div>

  </div>
</div>
