
       
<div class="proposal-show">
    <div class="row">
        <div class="small-12 medium-8 column">

            <h1><%= t("proposals.proposal.created") %></h1>

            <p>
                <span class="lead"><%= t("proposals.proposal.created_guide") %></span><br>
            </p>
            <a href="/proposals" class="back"><span class="icon-angle-left" aria-hidden="true"></span> Voltar para as propostas</a>
        </div>
    </div>
</div>