<% if @cards.present? %>
<h2><%= t("welcome.cards.title") %></h2>

<div class="row margin-top" data-equalizer data-equalizer-on="medium">
  <% @cards.all.each do |card| %>
    <%= render "card", card: card %>
  <% end %>
</div>
<% end %>
