<ul class="no-bullet external-links">
  <li>
    <%= link_to t("layouts.footer.accessibility"), page_path('accessibility'),
    class: ("is-active" if current_page?(page_path('accessibility'))),
                title: t("shared.go_to_page") + t("layouts.footer.accessibility") %>
  </li>

  <%= raw content_block("top_links", I18n.locale) %>
</ul>
