<div class="row section-content">
  <div class="small-12 column">
    <h3 id="poll_ops" data-magellan-target="poll_ops"><%= t("pages.help.poll_ops.title") %></h3>
    <p>
      <%= simple_format(t("pages.help.poll_ops.description")) %>
    </p>
  </div>
</div>
