<div class="row section-content">
  <div class="small-12 column">
    <h3 id="proposals" data-magellan-target="proposals">
      <%= t("pages.help.proposals.title") %>
    </h3>
    <p>
      <%= t("pages.help.proposals.description",
              link: link_to(t("pages.help.proposals.link"), proposals_path)).html_safe %>
    </p>
    
  </div>
</div>
